%script{src: '/root.js'}
%div.row
  %div.col-md-10.col-sm-offset-1
    %div.jumbotron#slidetron{style: 'padding: 28px; background-image: url(/glas.png); display: none;'}
      %div.container
        %div.row
          %div.col-md-6.col-sm-offset-3
            %img.text-center{src: '/optumm.png', style: '-webkit-transform:rotate(2deg); -webkit-backface-visibility: hidden; width: 100%;'}
        %h4.text-center{style: "font: 400 25px/1.3 'Lobster Two', Helvetica, sans-serif;"}
          Fancy a Ride?
