%div.jumbotron
  %div.container
    %h4
      Fancy A Ride?

%div.container
  %div.row
    %div.col-md-12
      Our aim is to improve the cycling experience.  First in Glasgow, then the world!

  %div.row
    %div.col-md-12
      %a{ :href => "/poll", :title => "Help Us Out!"} Help Us Out
