%div.container
  %div.jumbotron{style: 'padding: 28px;'}
    %div.container
      %div.row
        %div.col-md-6.col-sm-offset-3
          %img.text-center{src: '/optumm.png', height: '100px'}
      %h4.text-center{style: "font: 400 25px/1.3 'Lobster Two', Helvetica, sans-serif;"}
        Fancy a Ride?
  %div.row
    %div.col-md-7
      %iframe{:src=>"https://www.mapbox.com/bites/00011/", :frameborder=>"no", :width=>"100%", :height=>"300"}
      %h5.text-center
        %span.glyphicon.glyphicon-camera
        Tell your journey's story with timelapse recording via smart-phone.
    %div.col-md-5
      %iframe{:src=>"//www.youtube.com/embed/mrNSAqiO0SY?autoplay=1&controls=0&showinfo=0&rel=0&hd=", width: '87%', height: '300', frameborder: "0"}
      %h5.text-center{style: 'margin-left: -50px;'}
        %span.glyphicon.glyphicon-hand-up
        HTML5 Smart-Map, optimised for mobile browsers.
  %div.row
    %div.col-md-6.col-sm-offset-3
      %h3{style: "font: 400 30px/1.3 'Lobster Two', Helvetica, sans-serif;"}
        %span.glyphicon.glyphicon-map-marker
        Our aim is to improve your cycling experience.
      %h5.text-center
        First in Glasgow, then in the wider world!

  %hr
  %div.row
    %div.col-md-6
      %h4
        %span.glyphicon.glyphicon-link
        How can I help?
      Let us know what you'd like to see in our app, with this
      %a{ :href => "/poll", :title => "Help Us Out!"}
        quick questionnaire!
      %br
      We value your honest feedback, throughout the development process.
      %br
      See the results of your feedback visualised in
      %a{ :href => "/results", :title => "Thanks for Helping us out!"}
        pretty chart form.

    %div.col-md-6
      %h4
        %span.glyphicon.glyphicon-eye-open
        Looking for goodies to play with?
      An online smart-map for orientation when out-and-about is available
      %a{href: 'http://far.include.cat'}
        here.
      %br
      Find a quick route to important resources, including public toilets and bike-racks!

